<div class="w-[900px] h-[600px] rounded-lg shadow-black drop-shadow-xl bg-gray-200 flex items-center justify-center">
  <div class="w-[97%] h-[97%] rounded-lg">
    <div class="w-full h-[93%] bg-red-200 rounded-lg rounded-b-none overflow-hidden">
      <img
        src="https://www.infobae.com/new-resizer/Zyl3NfAS1khs4kWuVhXmxdsY_bw=/1440x960/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/OLZOQMQVQNGERNP2FLELHW362E.jpg"
        class="w-full h-full object-cover"  
      />
    </div>

    <div class="w-full h-[7%] mt-1 flex items-center justify-between">
        <div class="w-[70%] h-[80%] flex items-center">
        <span class="text-sm">https://localhost:3000/images/2437823478423245-back.png</span>
      </div>
    </div>
  </div>
</div>